{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.nom }} 
		{{ customer_record.prénom }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Email: </strong>{{ customer_record.email }}</p>

<p class="card-text">
<strong>Numéro: </strong>{{ customer_record.numéro }}
</p>

<p class="card-text">
<strong>Quartier: </strong>{{ customer_record.addresse }}</p>

<p class="card-text">
<strong>Date de création: </strong>{{ customer_record.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ customer_record.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Retour</a>
<a href="{% url 'delete_record' customer_record.id  %}" class="btn btn-danger">Supprimer</a>
<a href="{% url 'update_record' customer_record.id  %}" class="btn btn-primary">Modifier</a>


{% endblock %}